{% extends "app/layout.html" %}

{% block content %}
<div style="margin-left:5%;">
    <h3>{{ message }}</h3>

    <address>
        Ministry of Indian Tourism<br />
        New Delhi- 11111<br />
        +91-9874563210
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address><br /><br /><br />
</div>
{% endblock %}
