<html>
    <head>
        <link rel="shortcut icon" href="images/favicon.png">
        <title>
            Tourism Hackathon
        </title>
        <meta charset="utf-8">
        <style>
          #map {
            height: 50%;
              width: 50%;
          }
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
          #coords {
            background-color: black;
            color: white;
            padding: 5px;
          }
        </style>
        <!--materailze class added @21-02-18-->
        <link href="css/materialize/Material+Icons.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="css/materialize/js/jquery-3.2.1.min.js"></script><script type="text/javascript" src="css/materialize/js/materialize.js"></script>
    </head>
    <body>
        <center><br>
    <div id="map">
        {{q}}
    </div>
    
    </center></body></html>